/* Importar fontes */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

::-webkit-scrollbar {
    display: none;
}

body {
    background: rgb(179,15,15);
background: linear-gradient(180deg, rgba(179,15,15,1) 0%, rgba(0,99,255,1) 100%);
}
header {
    /* background-color: #000; */
    text-align: center;
}
header img {
    background-color: #fff;
    border-radius: 35px 35px 0px 0px;
    margin-top: 10px;
    box-shadow: 0px 0px 50px white;
}
header h1 {
    background-color: #fff;
    width: 50%;
    margin: 10px auto 0;
    border-radius: 35px 35px 0px 0px;
    padding: 5px;
}


.div-container {
    width: 58%;
    height: 90dvh;
    margin: 10px auto 0;
    border-radius: 10px;
    background-color: #333333;
    padding: 10px;
}
.photo-playlist>img {
    width: 523px;
    border-radius: 25px;
    box-shadow: 0px 2px 15px #000;
}
.info-musica {
    font-family: "Encode Sans", sans-serif;
    color: #fff;
    text-shadow: 0px 2px 5px #000;
}
.progress-container {
    margin-bottom: 10px;
}

.progress-container>input {
    width: 100%;
    height: 8px;
    background-color: #3700ff;
    cursor: pointer;
}

.progress-container>input::-webkit-slider-thumb {
    /*altera a bolinha do input*/
    scale: 1.1;
    cursor: pointer;
}

.progress-container>input::-moz-range-track {
    /*alterar o track (barra de progresso)*/
    background-color: #00ff75;
}

.progress-container>input::-moz-range-thumb {
    /*parte percorrida do track (barra de progresso)*/
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #00ff75;
    cursor: pointer;
}
.time {
    display: flex;
    justify-content: space-between;
}
.time>p{
    margin-bottom: -5px;
}

#favorite-heart{
    float: right;
    margin-bottom: 50px;
}
.controls {
    margin-left: 20%;
    width: 300px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.controls>button,
#favorite-heart {
    border: none;
    background-color: transparent;
}

i {
    display: flex;
    cursor: pointer;
}

.card2 {
    position: relative;
    width: max-content;
    height: max-content;
    padding: 20px;
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
    background-image: url('img/promQueen.jpg'); /* Imagem padrão */
    background-size: cover;
    background-position: center;
}

.card2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; /* Usa a imagem do elemento pai */
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.card2 > * {
    position: relative; /* Garante que o conteúdo da .card2 fique acima do pseudo-elemento */
}

/* playlist */
.bgmusica {
    width: 10%; /* Ajuste conforme necessário */
    float: left;
  }
  #playlist {
    padding: 10px;
    margin: 10px auto 0;
  }
  #playlist h1 {
    text-align: center;
    color: white;
  }
  #playlist button {
    border: none;
    padding: 15px 32px;
    display: flex;
    cursor: pointer;
  }
  .bgplaylist{
    float: left;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.548) 0%, rgba(0,0,0,0) 100%);
    width: 500px;
    border-radius: 0px 5px 3px 0px;
}
  .music {
    margin: 5px 0;
    width: 480px;
    height: 100px;
    padding: 5px;
    background-color: #e0e0e0; /* Cor de fundo para as músicas */
    border-radius: 5px;
    align-items: center;
    display: block;
    background: rgb(54,54,54);
    background: linear-gradient(150deg, rgba(54,54,54,1) 0%, rgba(30,93,19,1) 100%);
}
  .imgplaylist{
    width: 70px;
    border-radius: 10px;
  }
  .music > h2{
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    color: #fff !important;
  }
.music > p {
    padding: 10px;
    color: #fff;
}
